.cards {
	margin: 1em 0;
}

.cards__item {
	display: inline-block;
	background: rgba(black, .05);
	border-radius: .5em;
	border: 1px solid white;
	padding: 1em 1em 3em;
	width: 100%;
	vertical-align: middle;
	position: relative;

	.ui-sortable-helper & {
		box-shadow: 2px 2px 5px 1px rgba(black, .2);
	}
}

.cards__btn {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.cards__btn--delete {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.cards .ui-sortable-placeholder {
	height: 1em;
}